img.rounded-circle {border: 2px solid #aba3a2 ;
box-shadow: 1px 1px 10px rgba(0,0,0,1);}

hr {border: 3px solid #aba3a2 ;
width: 500px;
margin-left: 28%;}

section {min-height: 200px;}

section.contact textarea.form-floating {padding: 30px;}
section.contact {margin: 20px;}


body {height: 300px;}

section.footer {min-height: 100px;}

section {padding-top: 5rem;}

section.jumbotron{background-image: url(../portofolio/img/test.jpg);

background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
min-height: 600px;
background-position: 0 50px;}

.jumbotron h1,.jumbotron p {
    text-shadow: 1px 1px 10px rgba(0,0,0,1);
}




